-@ val title: String
-@ val headline: String = title
-@ val body: String

!!!
html(ng-app)
  head
    title= title
    link(rel='stylesheet'
        href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')

  body
    #content
      h1= headline
      != body
      div(ng-app='vote')
        div(ng-controller='PlayerCtrl')
        iframe(
          width='560'
          height='315'
          src='//www.youtube.com/embed/g1v91Yo2rp'
          frameborder='0'
          allowfullscreen)
        div(ng-controller='ListCtrl')
        ul(ng-repeat='playable in queue')
          li="{{playable.id}}"

    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
    script(src='/listctrl.js')
    script(src='/playerctrl.jsl')