-@ val title: String
-@ val headline: String = title
-@ val body: String

!!!
html
  head
    title= title
    link(rel='stylesheet'
        href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')    
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js')

  body
    #content
      h1= headline
      != body
      div(ng-app='vote')
        div
        iframe(
          width='560'
          height='315'
          src='//www.youtube.com/embed/g1v91Yo2rp'
          frameborder='0'
          allowfullscreen)
        div(ng-controller='ListCtrl')
        ul
          li(ng-repeat='queable in queue')
            |{{queable.id}}


    
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
    script(src='/js/listctrl.js')
    
